/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        font-family: "ProximaNova","Helvetica Neue",helvetica,arial,sans-serif;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      .dataset {
          background-color: #fefefe;
          border: 1px solid rgba(0, 0, 0, 0.1);
      }
