/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */
body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
}
.sidebar-nav {
    padding: 9px 0;
}
.dataset {
    background-color: #fefefe;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3,
h4
{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.dataset-name {
    padding-bottom: 0.3em;
}
.dataset-description{
    padding-bottom: 1em;
}
.owner img {
    border: 3px solid #D99;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.dataset-card {
    min-height: 100px;
    padding: 10px;
}
.dataset-bottom {
    position: relative;
    padding: 10px;
}
.datum-image {
    min-height: 150px;
}
a.thumb-link {
    color: #333333;
    text-decoration: none;
    display: block;
}
a.thumb-link > div.thumbnail:hover{
    box-shadow: 0 3px 3px rgba(0, 10, 10, 0.75);
}
